VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_APP_NAME=Predictive Maintenance System
VITE_REFRESH_INTERVAL=30000
VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZXF1aXBwZWQtcGhlYXNhbnQtMzEuY2xlcmsuYWNjb3VudHMuZGV2JA